html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.d-flex {
  position: relative;
}

.offcanvas-custom {
  width: 30vw;
  z-index: 1040;
}

@media (max-width: 767px) {
  .offcanvas-custom {
    width: 90vw;
  }
}
